Flask
python-docx
fpdf
pytesseract
opencv-python
numpy
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
Flask-Marshmallow
marshmallow-sqlalchemy
# Driver Database (Gunakan psycopg2-binary untuk PostgreSQL, atau mysqlclient untuk MySQL)
psycopg2-binary
# WSGI Server untuk production
gunicorn
pytest